/* Container styling */
.exercise-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: #f9f9f9;
  flex-wrap: wrap; /* Allow wrapping for better mobile layout */
}

/* Image container */
.exercise-image-container {
  width: 220px; /* Increased width */
  height: 220px; /* Increased height */
  border-radius: 8px;
  overflow: hidden;
}

.exercise-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* Info container */
.exercise-info-container {
  flex: 1;
  margin-left: 16px;
  min-width: 200px; /* Ensure minimum width for the info section */
}

.exercise-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.exercise-subtitle {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.muscle-info {
  margin-bottom: 8px;
}

/* Styling for tags (body part, equipment, target) */
.tag {
  display: inline-block;
  background-color: #e0f7fa;
  color: #00796b;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 0.85rem;
  margin-right: 5px;
  font-weight: bold;
}

.exercise-subtitle .tag {
  margin-right: 0;
}

.muscle-info .tag {
  margin-left: 5px;
}

/* Instructions styling */
.instructions-container {
  margin-top: 12px;
}

.instructions-list {
  margin-left: 20px;
  list-style-type: disc;
  display: none;
  transition: all 0.3s ease; /* Smooth transition when toggling */
}

.instructions-list.visible {
  display: block;
}

/* Arrow button styling */
.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #007bff;
  padding: 5px;
  transition: color 0.3s ease;
  margin-bottom: 2px;
}

.arrow-button:hover {
  color: #0056b3;
}

/* Action button styling */
.start-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #218838;
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .start-button {
    padding: 6px 10px; /* Reduce padding for smaller screens */
    font-size: 0.9rem; /* Smaller text */
  }

  .exercise-container {
    flex-direction: column; /* Stack content vertically on mobile */
    align-items: center; /* Center items on mobile */
  }

  .exercise-image-container {
    margin-bottom: 12px; /* Add margin below the image */
  }

  .exercise-info-container {
    margin-left: 0; /* Remove margin on mobile */
    margin-top: 10px;
    text-align: center; /* Center text for mobile view */
  }

  .instructions-list {
    margin-left: 0; /* Align instructions properly on mobile */
    padding-left: 15px;
  }
}
